body {
    background-color: #333;
    background-image: url("assets/wallpapers/default/wallpaper1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.menu-bar {
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding: 1px;
    border-radius: 0px;
    align-self: center;
    z-index: 99999999999999;
}

.menu-bar .clock {
    position: absolute;
    right: 25px;
    align-items: center;
    z-index: 99999999999999;
}
.menu-bar .updates {
    position: absolute;
    right: 100px;
    align-items: center;
    z-index: 99999999999999;
}

.logo-container {
    display: flex;
    align-items: center;
    z-index: 99999999999999;
}

.logo {
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
    z-index: 99999999999999;
}

.menu-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 99999999999999;
}

.menu-items li {
    display: inline-block;
    padding: 5px;
    z-index: 99999999999999;
}

.clock-icon {
    list-style-type: none;
    z-index: 99999999999999;
}

#dock {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.dock-item {
    width: 50px;
    height: 50px;
    margin: 10px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.dock-item:hover {
    transform: scale(1.1);
}

.dock-item:active {
    transform: scale(1.0);
}

.dock ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dock li {
    margin-right: 10px;
    cursor: pointer;
}

.dock img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.app-window {
    position: relative;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow: hidden;
    display: none;
    cursor: move;
}

.window-bar {
    height: 40px;
    backdrop-filter: blur(50px);
    background: rgba(10, 10, 10, 0.3);
    display: flex;
    align-items: center;
    border-radius: 0%;
}

.red-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f57;
    margin-right: 12px; /* Increase right margin for more padding */
    margin-left: 20px; /* Increase left margin for more padding */
    cursor: pointer;
}

.green-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5aff5a;
    margin-right: 5px;
    cursor: pointer;
}

.title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
    text-align: center;
    display: flex;
    margin-right: 35px;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 10px;
}

.app-iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.open {
    display: block;
}

#wallpaper-select {
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
    color: #fff;
    border: none;
    border-radius: 0;
}

.menu-items li ul {
    display: none;
    position: absolute;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 4px 4px;
}

.menu-items li:hover > ul {
    display: block;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.menu-items li ul li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-items li ul li ul {
    color: #fff;
    display: none;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.menu-items li ul li:hover > ul {
    display: block;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.menu-items li ul {
    background-color: #333;
    color: #fff;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.menu-items li ul li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 20%;
    margin-top: -24px; /* Adjust this value as needed */
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.menu-items li ul li:hover > ul {
    display: block;
    backdrop-filter: blur(50px);
    background: rgba(50, 50, 50, 0.3);
}

.bold-text {
    font-weight: bold;
}

.disabled {
    color: grey;
    cursor: not-allowed;
}





