body {
    background-color: #333;
    background-image: url("assets/wallpapers/default/wallpaper1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.menu-bar {
    background-color: rgb(61, 61, 61);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding: 2px;
}

.menu-bar .clock {
    position: absolute;
    right: 25px;
    align-items: center;
}
.menu-bar .updates {
    position: absolute;
    right: 100px;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.menu-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    display: inline-block;
    padding: 10px;
}

.clock-icon {
    list-style-type: none;
}

.dock {
    background-color: rgb(61, 61, 61);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: nowrap;
}

.dock ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dock li {
    margin-right: 16px;
    cursor: pointer;
}

.dock img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.app-window {
    position: relative;
    background-color: #333;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    cursor: move;
}

.window-bar {
    height: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.red-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f57;
    margin-right: 12px; /* Increase right margin for more padding */
    margin-left: 10px; /* Increase left margin for more padding */
    cursor: pointer;
}

.green-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #5aff5a;
    margin-right: 5px;
    cursor: pointer;
}

.title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    text-align: center;
    display: flex;
    margin-right: 35px;
    justify-content: center;
    align-items: center;
}

.app-iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
}

.open {
    display: block;
}

#wallpaper-select {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0;
}

.menu-items li ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 8px 8px;
}

.menu-items li:hover > ul {
    display: block;
}

.menu-items li ul li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-items li ul li ul {
    color: #fff;
    display: none;
}

.menu-items li ul li:hover > ul {
    display: block;
}

.menu-items li ul {
    background-color: #333;
    color: #fff;
}

.menu-items li ul li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 20%;
    margin-top: -24px; /* Adjust this value as needed */
}

.menu-items li ul li:hover > ul {
    display: block;
}

.bold-text {
    font-weight: bold;
}

.disabled {
    color: grey;
    cursor: not-allowed;
}





